<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="../../../css/bootstrap-responsive.css" rel="stylesheet">
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
 <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
 <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
 <script src="../../js/bootstrap.js"></script>
 <link rel="stylesheet" type="text/css" href="../../css/app.css">
 <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../../../home">Esport</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
     <div class="navbar-form navbar-right">
      <a class="btn btn-success" href='../../../signup'>Sign Up</a>
      <a class="btn btn-success" href='../../../users'>Users</a>
   </div>
</div><!--/.navbar-collapse -->
</div>
</nav>
<div class="jumbotron">
   <div class="container">
    <h1>NBA Game Statistics</h1>
    <h2><%= obj['game']['team'][0]['$'].name %> Versus <%= obj['game']['team'][1]['$'].name %> </h2>
    <h2>FINAL</h2>
    <table width="151" cellpadding="0" cellspacing="0">
      <tr>
         <td class="nbaGIATeam"><%= obj['game']['team'][0]['$'].name%> </td>
         <td class="nbaGIAScr"><%=obj['game']['team'][0]['$'].points%></td>
      </tr>
      <tr>
         <td class="nbaGIHTeam"><%=obj['game']['team'][1]['$'].name%> </td>
         <td class="nbaGIHScr"> <%=obj['game']['team'][1]['$'].points%></td>
      </tr>
   </table>
   <div class='table-responsibe'>
         <table class='table'>
            <tr>
               <td>Quarter 1</td>
               <td>Quarter 2</td>
               <td>Quarter 3</td>
               <td>Quarter 4</td>
               <td>Final</td>
            </tr>
            <tr>
               <% if(obj['game']['team'][0]['scoring'][0]['quarter'][0] !== undefined ) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][0]['scoring'][0]['quarter'][0]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][0]['scoring'][0]['quarter'][1] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][0]['scoring'][0]['quarter'][1]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][0]['scoring'][0]['quarter'][2] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][0]['scoring'][0]['quarter'][2]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][0]['scoring'][0]['quarter'][3] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][0]['scoring'][0]['quarter'][3]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <td class="nbaGIQtrPtsLast"><%=obj['game']['team'][0]['$'].points%> </td>
            </tr>
            <tr>
               <td class="nbaGIQtrStatus">
                  <div id="nbaGIQtrIndic" style="width:100%;height:9px;background:#cc0000;"></div>
               </td>
               <td class="nbaGIQtrStatus">
                  <div id="nbaGIQtrIndic" style="width:100%;height:9px;background:#cc0000;"></div>
               </td>
               <td class="nbaGIQtrStatus">
                  <div id="nbaGIQtrIndic" style="width:100%;height:9px;background:#cc0000;"></div>
               </td>
               <td class="nbaGIQtrStatus">
                  <div id="nbaGIQtrIndic" style="width:100%;height:9px;background:#cc0000;"></div>
               </td>
               <td class="nbaGIQtrStatus">
                  <div id="nbaGIQtrIndic" style="background: rgb(204, 204, 204) none repeat scroll 0% 0%; width: 100%; height: 9px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous;"></div>
               </td>
            </tr>
             <tr>
               <% if(obj['game']['team'][1]['scoring'][0]['quarter'][0] !== undefined ) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][1]['scoring'][0]['quarter'][0]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][1]['scoring'][0]['quarter'][1] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][1]['scoring'][0]['quarter'][1]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][1]['scoring'][0]['quarter'][2] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][1]['scoring'][0]['quarter'][2]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <% if(obj['game']['team'][1]['scoring'][0]['quarter'][3] !== undefined) { %>
                  <td class="nbaGIQtrPts"><%=obj['game']['team'][1]['scoring'][0]['quarter'][3]['$'].points%> </td>
               <% } else { %>
                  <td>0</td>
               <% } %>
               <td class="nbaGIQtrPtsLast"><%=obj['game']['team'][1]['$'].points%> </td>
            </tr>
         </table>
         </div>
</div>
</div>


<div class="container">
   <!-- Example row of columns -->
   <div class="row">
    <div class="col-md-6">
      <h2><%= obj['game']['team'][0]['$'].name %> Team Stats</h2>
      <h3>Points: <%= obj['game']['team'][0]['statistics'][0]['$'].points %></h3>
      Field Goals Made: <%= obj['game']['team'][0]['statistics'][0]['$'].field_goals_made %><br>
      Field Goals Attempted: <%= obj['game']['team'][0]['statistics'][0]['$'].field_goals_att %><br>
      Field Goal Percentage: <%= obj['game']['team'][0]['statistics'][0]['$'].field_goals_pct %>%<br>
      Three Points Made: <%= obj['game']['team'][0]['statistics'][0]['$'].three_points_made %><br>
      Three Points Attempted: <%= obj['game']['team'][0]['statistics'][0]['$'].three_points_att%><br>
      Three Point Percentage: <%= obj['game']['team'][0]['statistics'][0]['$'].three_points_pct %>%<br>
      Two Points Made: <%= obj['game']['team'][0]['statistics'][0]['$'].two_points_made %><br>
      Two Points Attempted: <%= obj['game']['team'][0]['statistics'][0]['$'].two_points_att %><br>
      Two Point Percentage: <%= obj['game']['team'][0]['statistics'][0]['$'].two_points_pct %>%<br>
      Free Throws Made: <%= obj['game']['team'][0]['statistics'][0]['$'].free_throws_made %><br>
      Free Throws Attempted: <%= obj['game']['team'][0]['statistics'][0]['$'].free_throws_att %><br>
      Free Throw Percentage: <%= obj['game']['team'][0]['statistics'][0]['$'].free_throws_pct %>%<br>
      Offensive Rebounds: <%= obj['game']['team'][0]['statistics'][0]['$'].offensive_rebounds %><br>
      Defensive Rebounds: <%= obj['game']['team'][0]['statistics'][0]['$'].defensive_rebounds %><br>
      Total Rebounds: <%= obj['game']['team'][0]['statistics'][0]['$'].rebounds%><br>
      Assists: <%= obj['game']['team'][0]['statistics'][0]['$'].assists %><br>
      Steals: <%= obj['game']['team'][0]['statistics'][0]['$'].steals %><br>
      Blocks: <%= obj['game']['team'][0]['statistics'][0]['$'].blocks %><br>
      Turnovers: <%= obj['game']['team'][0]['statistics'][0]['$'].turnovers%><br>
      Fastbreak Points: <%= obj['game']['team'][0]['statistics'][0]['$'].fast_break_pts %><br>
      Points in the Paint: <%= obj['game']['team'][0]['statistics'][0]['$'].paint_pts %><br>

   </div>
   <div class="col-md-6">
      <h2><%= obj['game']['team'][1]['$'].name %> Team Stats</h2>
      <h3>Points: <%= obj['game']['team'][1]['statistics'][0]['$'].points %></h3>
      Field Goals Made: <%= obj['game']['team'][1]['statistics'][0]['$'].field_goals_made %><br>
      Field Goals Attempted: <%= obj['game']['team'][1]['statistics'][0]['$'].field_goals_att %><br>
      Field Goal Percentage: <%= obj['game']['team'][1]['statistics'][0]['$'].field_goals_pct %>%<br>
      Three Points Made: <%= obj['game']['team'][1]['statistics'][0]['$'].three_points_made %><br>
      Three Points Attempted: <%= obj['game']['team'][1]['statistics'][0]['$'].three_points_att%><br>
      Three Point Percentage: <%= obj['game']['team'][1]['statistics'][0]['$'].three_points_pct %>%<br>
      Two Points Made: <%= obj['game']['team'][1]['statistics'][0]['$'].two_points_made %><br>
      Two Points Attempted: <%= obj['game']['team'][1]['statistics'][0]['$'].two_points_att %><br>
      Two Point Percentage: <%= obj['game']['team'][1]['statistics'][0]['$'].two_points_pct %>%<br>
      Free Throws Made: <%= obj['game']['team'][1]['statistics'][0]['$'].free_throws_made %><br>
      Free Throws Attempted: <%= obj['game']['team'][1]['statistics'][0]['$'].free_throws_att %><br>
      Free Throw Percentage: <%= obj['game']['team'][1]['statistics'][0]['$'].free_throws_pct %>%<br>
      Offensive Rebounds: <%= obj['game']['team'][1]['statistics'][0]['$'].offensive_rebounds %><br>
      Defensive Rebounds: <%= obj['game']['team'][1]['statistics'][0]['$'].defensive_rebounds %><br>
      Total Rebounds: <%= obj['game']['team'][1]['statistics'][0]['$'].rebounds%><br>
      Assists: <%= obj['game']['team'][1]['statistics'][0]['$'].assists %><br>
      Steals: <%= obj['game']['team'][1]['statistics'][0]['$'].steals %><br>
      Blocks: <%= obj['game']['team'][1]['statistics'][0]['$'].blocks %><br>
      Turnovers: <%= obj['game']['team'][1]['statistics'][0]['$'].turnovers%><br>
      Fastbreak Points: <%= obj['game']['team'][1]['statistics'][0]['$'].fast_break_pts %><br>
      Points in the Paint: <%= obj['game']['team'][1]['statistics'][0]['$'].paint_pts %><br>

   </div>
</div>
<div class="row">
   <div class="col-md-9">
      <h2><%= obj['game']['team'][0]['$'].name %> Player Stats</h2>
      <div class='table-responsive'>
      <table class='table table-striped table-hover table-bordered'>
         <tr>
            <td>Name</td>
            <td >pos</td>
            <td >min</td>
            <td >fgm-a</td>
            <td >3pm-a</td>
            <td >ftm-a</td>
            <td >+/-</td>
            <td >off</td>
            <td >def</td>
            <td >tot</td>
            <td >ast</td>
            <td >pf</td>
            <td >st</td>
            <td >to</td>
            <td >bs</td>
            <td >pts</td>
         </tr>
         <% for (var i = 0; i<obj['game']['team'][0]['players'][0]['player'].length; i++) { %>
         <tr>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['$'].full_name%> </td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['$'].primary_position%> </td>
            <% if(obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].minutes != undefined) { %>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].minutes%> </td>
            <% } else { %>
            <td>DNP</td>
            <% } %>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].field_goals_made %> - <%= obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].field_goals_att %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].three_points_made %> - <%= obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].three_points_att %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].free_throws_made %> - <%= obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].free_throws_att %></td>
            <% if(obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].pls_min != undefined) { %>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].pls_min%> </td>
            <% } else { %>
            <td>N/A</td>
            <% } %>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].offensive_rebounds %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].defensive_rebounds %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].rebounds %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].assists %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].personal_fouls %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].steals %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].turnovers %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].blocks %></td>
            <td><%=obj['game']['team'][0]['players'][0]['player'][i]['statistics'][0]['$'].points %></td>
         </tr>
         <% } %>
      </table>
      </div>
   </div>
</div>
<div class='row'>
   <div class='col-md-9'>
      <h2><%= obj['game']['team'][1]['$'].name %> Player Stats</h2>
      <div class='table-responsive'>
      <table class='table table-striped table-hover table-bordered'>
         <tr>
            <td>Name</td>
            <td>pos</td>
            <td>min</td>
            <td>fgm-a</td>
            <td>3pm-a</td>
            <td >ftm-a</td>
            <td>+/-</td>
            <td>off</td>
            <td>def</td>
            <td>tot</td>
            <td>ast</td>
            <td>pf</td>
            <td>st</td>
            <td>to</td>
            <td>bs</td>
            <td>pts</td>
         </tr>
         <% for (var i = 0; i<obj['game']['team'][0]['players'][0]['player'].length; i++) { %>
         <tr>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['$'].full_name%> </td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['$'].primary_position%> </td>
            <% if(obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].minutes != undefined) { %>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].minutes%> </td>
            <% } else { %>
            <td>DNP</td>
            <% } %>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].field_goals_made %> - <%= obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].field_goals_att %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].three_points_made %> - <%= obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].three_points_att %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].free_throws_made %>-<%= obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].free_throws_att %></td>
            <% if(obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].pls_min != undefined) { %>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].pls_min%> </td>
            <% } else { %>
            <td>N/A</td>
            <% } %>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].offensive_rebounds %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].defensive_rebounds %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].rebounds %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].assists %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].personal_fouls %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].steals %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].turnovers %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].blocks %></td>
            <td><%=obj['game']['team'][1]['players'][0]['player'][i]['statistics'][0]['$'].points %></td>
         </tr>
         <% } %>
      </table>
      </div>
   </div>
</div>

<hr>

<footer>
 <p>&copy; Peter Podniesinski 2014</p>
</footer>
</div>

</body>
</html>