<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../../css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="../../../js/jquery-1.8.0.js"></script>
  <script src="../../../js/bootstrap.js"></script>
  <script src="../../../../js/form.js"></script>
  <link rel="stylesheet" type="text/css" href="../../../css/app.css">
  <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.css">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../../home">Esport</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
          <a class="btn btn-success" href='signup'>Sign Up</a>
          <a class="btn btn-success" href='users'>Users</a>
        </div>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron">
    <div class="container">
      <h1>Esport Users</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
      <div id='alert' style="display: none;">
        <div id='alert-danger' class='alert alert-danger'>
            <a href='#' class='close' data-dismiss='alert'></a>  <strong>Success</strong> User account was deleted.
        </div>
      </div>
       <div class='table-responsive'>
        <table class='table table-striped table-hover table-bordered'>
          <tr>
            <td>Username</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <% for (var i = 0; i<obj.length; i++) { %>
          <tr>
            <td><%= obj[i].username %></td>
            <td><%= obj[i].firstname %></td>
            <td><%= obj[i].lastname %></td>
            <td>
              <a class="btn btn-info" href= 'user/edit/<%= obj[i].username %>/<%= obj[i].password %>/<%= obj[i].firstname %>/<%= obj[i].lastname %>'>Edit</a></td>
              <td>
                <form id="delete">
                  <input id="username" type='hidden' value='<%= obj[i].username %>'>
                  <button type="submit" class="btn btn-danger" onclick="addDelete();">Delete</button>
                </form>
              </td>
            </tr>
            <% } %> 
          </table>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <footer>
      <p> &copy; Peter Podniesinski 2014</p>
    </footer>
  </div>

</body>
</html>